body {
  margin: 0;
  display: none;
}

.content {
  display: block;
  width: 500px;
  margin: 100px auto;
}

video {
  width: 800px;
  margin: 50px auto 0;
  display: block;
}

main {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.female {
  background-color: pink;
}

.male {
  background-color: blue;
}

.segment {
  display: block;
  width: 480px;
  height: 320px;
  line-height: 320px;
  text-align: center;
  color: black;
  font-size: 30px;
  font-family: helvetica;
  text-decoration: none;
}